* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.top-parts {
  background-color: bisque;
  display: flex;
  align-items: center;
  width: 100%;
}

.left-side {
  width: 50%;
  margin: 0px 0px 0px 30px;
}
span {
  color: orange;
}

.left-info {
  line-height: 40px;
}

.btn-top {
  padding: 10px 15px;
  background: orange;
  border-radius: 7px;
  color: white;
  font-weight: 700;
  font-size: 15px;
}
.btn-top:hover {
  border: 3px solid orange;
  background-color: bisque;
  color: brown;
}
.right-side {
  width: 50%;
}
.img-top {
  width: 100%;
}

.car-service {
  display: flex;
  align-items: center;
  width: 30%;
  height: 200px;
  justify-content: space-between;
  background-color: antiquewhite;
  margin: 20px auto;
  padding: 10px;
  border-radius: 7px;
}

.car-service:hover {
  background-color: brown;
  color: white;
}

.car-img {
  width: 50px;
  height: 50px;
  padding-right: 15px;
}
.services {
  display: flex;
}
.service-title {
  text-align: center;
  margin: 20px 0px;
}

.laptop {
  text-align: center;
  margin: 50px 0px;
}

.img-lap {
  width: 200px;
  height: 200px;
}

.single-laptop {
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  text-align: center;
}

.laptop-products {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.btn-lap {
  padding: 10px 20px;
  margin-top: 5px;
  color: white;
  background-color: orange;
  border-radius: 7px;
  font-weight: 800;
}

.btn-lap:hover {
  border: 1px solid brown;
  background-color: rgb(243, 243, 237);
  color: black;
}

/* .price-buy {
  text-align: center;
} */
.best-laptop {
  margin-bottom: 10px;
}

.servic-footer {
  text-align: center;
  background-color: black;
  color: aliceblue;
  padding: 20px auto;
  height: 300px;
}

.footer-info {
  padding-top: 40px;
}
